* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 500vh;
}
.scroll-indicator {
    height: 10px;
    width: 0;
    background: rgb(255,0,75);
    position: fixed;
    top: 0;
    transition: 0.25s ease;
}